<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <cache/>
    <resultMap id="BaseResultMap" type="com.example.demo.entity.Student">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="passWord" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="vipType" jdbcType="INTEGER" property="vipType" typeHandler="com.example.demo.handler.VipTypeHandler"/>
    </resultMap>
    <resultMap id="StudentWithAddressMap" type="com.example.demo.entity.Student">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <association property="address" javaType="com.example.demo.entity.Address">
            <result column="addressId" jdbcType="INTEGER" property="addressId"/>
            <result column="recipientName" jdbcType="VARCHAR" property="recipientName"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="address" jdbcType="VARCHAR" property="addressName"/>
        </association>
    </resultMap>
    <resultMap id="StudentWithCoursesMap" type="com.example.demo.entity.Student">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <collection property="courses" ofType="com.example.demo.entity.Course">
            <id property="id" column="course_id"/>
            <result property="courseName" column="course_name"/>
            <result property="teacher" column="teacher"/>
        </collection>
    </resultMap>

    <select id="queryStudentList" resultMap="BaseResultMap">
       SELECT * FROM student
    </select>

    <select id="queryStudentsByDynamicParams" resultMap="BaseResultMap">
        SELECT * FROM student
        <where>
            <if test="username != null and username != ''">
                AND userName = #{username}
            </if>
            <if test="age != null">
                AND age = #{age}
            </if>
        </where>
    </select>

    <select id="queryStudentWithAddress" resultMap="StudentWithAddressMap">
        SELECT
            s.id, s.userName, s.passWord, s.sex, s.age,
            a.addressId, a.recipientName, a.phone, a.address
        FROM student s
                 LEFT JOIN address a ON s.addressId = a.addressId
    </select>


    <select id="queryStudentsWithCourses" resultMap="StudentWithCoursesMap">
        SELECT
            s.id AS id,
            s.username AS username,
            c.id AS course_id,
            c.course_name AS course_name,
            c.teacher AS teacher
        FROM
            student s
                LEFT JOIN
            student_course sc ON s.id = sc.student_id
                LEFT JOIN
            course c ON sc.course_id = c.id
    </select>


    <insert id="batchInsertStudents" parameterType="list">
        INSERT INTO student (username, password, sex, age,addressId)
        VALUES
        <foreach collection="list" item="student" separator=",">
            (#{student.username}, #{student.password}, #{student.sex}, #{student.age}, #{student.addressId})
        </foreach>
    </insert>
</mapper>